// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../../../core/resource';
import * as ShipmentsAPI from './shipments';
import * as PackagesAPI from './packages';
import { PackageValidateParams, PackageValidateResponse, Packages } from './packages';
import * as TagAPI from './tag';
import {
  CompletedTagDetail2,
  Tag,
  TagCancelParams,
  TagCancelResponse,
  TagCreateParams,
  TagCreateResponse,
} from './tag';
import { APIPromise } from '../../../../core/api-promise';
import { buildHeaders } from '../../../../internal/headers';
import { RequestOptions } from '../../../../internal/request-options';

export class Shipments extends APIResource {
  packages: PackagesAPI.Packages = new PackagesAPI.Packages(this._client);
  tag: TagAPI.Tag = new TagAPI.Tag(this._client);

  /**
   * This endpoint helps you to create shipment requests thereby validating all the
   * shipping input information and either generates the labels (if the responses is
   * synchronous) or a job ID if transaction is processed using asynchronous method.
   * <i>Note: FedEx APIs do not support Cross-Origin Resource Sharing (CORS)
   * mechanism.</i>
   */
  create(params: ShipmentCreateParams, options?: RequestOptions): APIPromise<ShipmentCreateResponse> {
    const { 'x-customer-transaction-id': xCustomerTransactionID, 'x-locale': xLocale, ...body } = params;
    return this._client.post('/ship/v1/shipments', {
      body,
      ...options,
      headers: buildHeaders([
        {
          ...(xCustomerTransactionID != null ?
            { 'x-customer-transaction-id': xCustomerTransactionID }
          : undefined),
          ...(xLocale != null ? { 'x-locale': xLocale } : undefined),
        },
        options?.headers,
      ]),
    });
  }

  /**
   * Use this endpoint to cancel FedEx Express and Ground shipments that have not
   * already been tendered to FedEx. This request will cancel all packages within the
   * shipment. <i>Note: FedEx APIs do not support Cross-Origin Resource Sharing
   * (CORS) mechanism.</i>
   */
  cancel(params: ShipmentCancelParams, options?: RequestOptions): APIPromise<ShipmentCancelResponse> {
    const { 'x-customer-transaction-id': xCustomerTransactionID, 'x-locale': xLocale, ...body } = params;
    return this._client.put('/ship/v1/shipments/cancel', {
      body,
      ...options,
      headers: buildHeaders([
        {
          ...(xCustomerTransactionID != null ?
            { 'x-customer-transaction-id': xCustomerTransactionID }
          : undefined),
          ...(xLocale != null ? { 'x-locale': xLocale } : undefined),
        },
        options?.headers,
      ]),
    });
  }

  /**
   * This endpoint helps you to process confirmed shipments asynchronously (above 40
   * packages) and produce results based on job id. <i>Note: FedEx APIs do not
   * support Cross-Origin Resource Sharing (CORS) mechanism.</i>
   */
  retrieveAsync(
    params: ShipmentRetrieveAsyncParams,
    options?: RequestOptions,
  ): APIPromise<ShipmentRetrieveAsyncResponse> {
    const { 'x-customer-transaction-id': xCustomerTransactionID, 'x-locale': xLocale, ...body } = params;
    return this._client.post('/ship/v1/shipments/results', {
      body,
      ...options,
      headers: buildHeaders([
        {
          ...(xCustomerTransactionID != null ?
            { 'x-customer-transaction-id': xCustomerTransactionID }
          : undefined),
          ...(xLocale != null ? { 'x-locale': xLocale } : undefined),
        },
        options?.headers,
      ]),
    });
  }
}

/**
 * This is detailed information on physical location. May be used as an actual
 * physical address (place to which one could go), or as a container of address
 * parts which should be handled as a unit (such as a city-state-ZIP combination
 * within the U.S.).
 */
export interface Address1 {
  /**
   * This is a placeholder for City Name. Note: This is conditional and not required
   * in all the requests. Note: It is recommended for Express shipments for the most
   * accurate ODA and OPA surcharges. Example: Beverly Hills
   */
  city?: string;

  /**
   * This is the two-letter country code. Maximum length is 2. Example: US
   * <a onclick='loadDocReference("countrycodes")'>click here to see Country
   * codes</a>
   */
  countryCode?: string;

  /**
   * Indicate the Postal code. This is Optional for non postal-aware countries.
   * Maximum length is 10. Example: 65247
   * <a onclick='loadDocReference("postalawarecountries")'>click here to see Postal
   * aware countries</a>
   */
  postalCode?: string;

  /**
   * Indicates whether this address is residential (as opposed to commercial).
   * Example: false
   */
  residential?: boolean;

  /**
   * This is a placeholder for State or Province code.State code is required for US,
   * CA, PR and not required for other countries. Conditional. Max length is 2.
   * Example: CA <a onclick='loadDocReference("canadaprovincecodes")'>click here to
   * see State or Province Code</a>
   */
  stateOrProvinceCode?: string;

  /**
   * This is the combination of number, street name, etc. Note: At least one line is
   * required and streetlines more than 3 will be ignored. Empty lines should not be
   * included. Maximum length per line is 35. Example: [10 FedEx Parkway, Suite 302,
   * .etc.]
   */
  streetLines?: Array<string>;
}

/**
 * These are alert details received in the response.
 */
export interface Alert {
  /**
   * Specifies the api alert type.
   */
  alertType?: 'NOTE' | 'WARNING';

  /**
   * Specifies the api alert code. Example: SHIPMENT.VALIDATION.SUCCESS
   */
  code?: string;

  /**
   * Specifies the api alert message. Example: Shipment validated successfully. No
   * errors found.
   */
  message?: string;
}

/**
 * Indicate the contact details of the shipper.
 */
export interface Contact1 {
  /**
   * Contact person's company name. Note: Recommended Length is 35. There's no
   * specific validation for the company name. Example: FedEx
   */
  companyName?: string;

  /**
   * Specify contact email address. Maximum length is 80. Example: sample@company.com
   */
  emailAddress?: string;

  /**
   * Specify contact fax number. Note: Recommended length is 15. There's no specific
   * validation for the fax number. Example: 1234567890
   */
  faxNumber?: string;

  /**
   * Specify contact person name. Recommended length is 70. Note: There's no specific
   * validation for the person name. Example: John Taylor
   */
  personName?: string;

  /**
   * Specify contact phone extension. Note: Recommended length is 6. There's no
   * specific validation for the phone extension. Example: 1234
   */
  phoneExtension?: string;

  /**
   * Contact person's phone number. Minimum length is 10 and supports maximum of 15
   * for certain countries using longer phone numbers. Note: For US and CA, a phone
   * number must have exactly 10 digits, plus an optional leading country code of '1'
   * or '+1'. Example: 918xxxxx890
   */
  phoneNumber?: string;
}

/**
 * Specifies the contact and address details of a location.
 */
export interface ContactAndAddress {
  /**
   * This is detailed information on physical location. May be used as an actual
   * physical address (place to which one could go), or as a container of address
   * parts which should be handled as a unit (such as a city-state-ZIP combination
   * within the U.S.).
   */
  address?: Address1;

  /**
   * Indicate the contact details of the shipper.
   */
  contact?: Contact1;
}

/**
 * Specifies the currency exchange performed on financial amounts on this rate.
 */
export interface CurrencyExchangeRate {
  /**
   * The currency code for the original (converted FROM) currency. Example: Rupee
   * <a onclick='loadDocReference("currencycodes")'>click here to see Currency
   * codes</a>
   */
  fromCurrency?: string;

  /**
   * The currency code for the final(converted INTO) currency. Example: USD
   * <a onclick='loadDocReference("currencycodes")'>click here to see
   * currencycodes</a>
   */
  intoCurrency?: string;

  /**
   * Multiplier used to convert from Currency units to into Currency units. Example:
   * 25.6
   */
  rate?: number;
}

/**
 * Specify the usse and identification of supplied images to be used on this
 * document.
 */
export interface CustomerImageUsage {
  /**
   * Specify the Image ID. Example:IMAGE_5
   */
  id?: 'IMAGE_1' | 'IMAGE_2' | 'IMAGE_3' | 'IMAGE_4' | 'IMAGE_5';

  /**
   * Provided Image Type Example: SIGNATURE
   */
  providedImageType?: 'LETTER_HEAD' | 'SIGNATURE';

  /**
   * Specify Customer Image Type. Example:SIGNATURE
   */
  type?: 'SIGNATURE' | 'LETTER_HEAD';
}

export interface CustomerReference {
  /**
   * This is a customer reference type. Note: Use type Type, RMA_ASSOCIATION and
   * value as the RMA Number to associate Ground Call Tag shipments to the outbound
   * shipment. Example: DEPARTMENT_NUMBER
   */
  customerReferenceType?:
    | 'CUSTOMER_REFERENCE'
    | 'DEPARTMENT_NUMBER'
    | 'INVOICE_NUMBER'
    | 'P_O_NUMBER'
    | 'INTRACOUNTRY_REGULATORY_REFERENCE'
    | 'RMA_ASSOCIATION';

  /**
   * This is a customer reference type value. Example: 3686 <ul><li>The P_O_NUMBER
   * value must be specified in customerReferences under
   * requestedPackageLineItems</li><li>The INVOICE_NUMBER value that is printed on
   * the FedEx-supplied invoice must be specified in customerReferences under
   * commercialInvoice. Value defined in this section will print on the label that is
   * attached to the package</li><li>The RMA value sent by the customer is returned
   * on the label in human readable form but also as a barcode. RMA_ASSOCIATION only
   * prints on the label as a barcode for a Return shipment.</ul>NOTE:<ul><li>
   * INTRACOUNTRY_REGULATORY_REFERENCE is applicable only in Intra-Brazil.</li><li>
   * Maximum length varies for value field depending on
   * customerReferenceType.</li></ul> Maximum length for value is as follows:
   * <ul><li>CUSTOMER_REFERENCE - 40(Express), 30(Ground)</li><li>DEPARTMENT_NUMBER -
   * 30</li><li>INVOICE_NUMBER - 30</li><li>P_O_NUMBER -
   * 30</li><li>INTRACOUNTRY_REGULATORY_REFERENCE - 30</li><li>RMA_ASSOCIATION -
   * 20</li>
   */
  value?: string;
}

/**
 * These are customs clearance details. Required for International and
 * intra-country Shipments.
 */
export interface CustomsClearanceDetail {
  /**
   * Use this object to provide Commercial Invoice details. This element is required
   * for electronic upload of CI data. It will serve to create/transmit an electronic
   * Commercial Invoice through the FedEx system. Customers are responsible for
   * printing their own Commercial Invoice. If you would like FedEx to generate a
   * Commercial Invoice and transmit it to Customs for clearance purposes, you need
   * to specify that in the ETDDetail/RequestedDocumentCopies element. Supports
   * maximum of 99 commodity line items.
   */
  commercialInvoice: CustomsClearanceDetail.CommercialInvoice;

  /**
   * Indicates the details about the dutiable packages. Maximum upto 999 commodities
   * per shipment.
   */
  commodities: Array<CustomsClearanceDetail.Commodity>;

  /**
   * Specify broker information. Use this option only if you are using Broker Select
   * Option for your shipment. A country code must be specified in addition to one of
   * the following address items: postal code, city, or location id.
   */
  brokers?: Array<CustomsClearanceDetail.Broker>;

  /**
   * These are customs Option Detail, type must be indicated for each occurrence.
   */
  customsOption?: CustomsClearanceDetail.CustomsOption;

  /**
   * Specifies about the statements to be declared for Customs.
   */
  declarationStatementDetail?: CustomsClearanceDetail.DeclarationStatementDetail;

  /**
   * This is a payment type, basically indicates who is the payor for the
   * shipment.Conditional required for International Shipments
   */
  dutiesPayment?: CustomsClearanceDetail.DutiesPayment;

  /**
   * These are export Detail used for US or CA exports.
   */
  exportDetail?: CustomsClearanceDetail.ExportDetail;

  /**
   * Specify the risk owner for the Freight shipment.This element is only mandatory
   * or valid for Intra India shipments. Example: OWN_RISK
   */
  freightOnValue?: 'CARRIER_RISK' | 'OWN_RISK';

  /**
   * This is the locale for generated document. Example: en_US
   * <a onclick='loadDocReference("locales")'>click here to see Locales</a> Note: If
   * the locale is left blank or an invalid locale is entered, an error message is
   * returned in response.
   */
  generatedDocumentLocale?: string;

  /**
   * The descriptive data for the importer of Record for the shipment and their
   * physical address, contact and account number information.
   */
  importerOfRecord?: Party1;

  /**
   * This customs value is applicable for all items(or units) under the specified
   * commodity
   */
  insuranceCharge?: Money;

  /**
   * Defaults to false. Only used for international Express requests to indicate if
   * just documents are being shipped or not. A valude of DERIVED will cause the
   * value to be determined by PMIS based on the specified commodities information
   * Example: false
   */
  isDocumentOnly?: boolean;

  /**
   * Specify if the transacting parties are related.
   */
  partiesToTransactionAreRelated?: boolean;

  /**
   * Use this element to provide valid identification details. Used for populating
   * brazil tax id.
   */
  recipientCustomsId?: CustomsClearanceDetail.RecipientCustomsID;

  /**
   * These are the regulatory controls applicable to the shipment.
   * Example:USMCA,FOOD_OR_PERISHABLE
   */
  regulatoryControls?: Array<
    | 'FOOD_OR_PERISHABLE'
    | 'USMCA'
    | 'NOT_APPLICABLE_FOR_LOW_VALUE_CUSTOMS_EXCEPTIONS'
    | 'NOT_IN_FREE_CIRCULATION'
  >;

  /**
   * This customs value is applicable for all items(or units) under the specified
   * commodity
   */
  totalCustomsValue?: Money;
}

export namespace CustomsClearanceDetail {
  /**
   * Use this object to provide Commercial Invoice details. This element is required
   * for electronic upload of CI data. It will serve to create/transmit an electronic
   * Commercial Invoice through the FedEx system. Customers are responsible for
   * printing their own Commercial Invoice. If you would like FedEx to generate a
   * Commercial Invoice and transmit it to Customs for clearance purposes, you need
   * to specify that in the ETDDetail/RequestedDocumentCopies element. Supports
   * maximum of 99 commodity line items.
   */
  export interface CommercialInvoice {
    /**
     * The comments that will populate the Commercial Invoice (or Pro Forma). Only the
     * comments specified in the first two indexes of the array will be printed on the
     * invoice and other comments would be ignored as the limitation is set for only
     * two indexes. It considers the comment which is in the first index as a Special
     * Instructions, Hence the comment at first index will be printed under special
     * instructions and the other will be printed at comments section in the Commercial
     * Invoice Document. Example: comments
     */
    comments?: Array<string>;

    /**
     * These are additional customer reference data for commercial invoice.
     */
    customerReferences?: Array<ShipmentsAPI.CustomerReference>;

    /**
     * This is the declaration statement which will populate the Commercial Invoice (or
     * Pro Forma). Maximum length is 554. Example: declarationStatement
     */
    declarationStatement?: string;

    /**
     * These are email disposition details. Provides the type and email addresses of
     * e-mail recipients. If returnedDispositionDetail in labelSpecification is set as
     * true then email will be send with label and documents copy.
     */
    emailNotificationDetail?: CommercialInvoice.EmailNotificationDetail;

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity
     */
    freightCharge?: ShipmentsAPI.Money;

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity
     */
    handlingCosts?: ShipmentsAPI.Money;

    /**
     * The originatorName that will populate the Commercial Invoice (or Pro Forma).
     * Example: originator name
     */
    originatorName?: string;

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity
     */
    packingCosts?: ShipmentsAPI.Money;

    /**
     * The reason for the shipment. Note: SOLD is not a valid purpose for a Proforma
     * Invoice. Example: REPAIR_AND_RETURN
     */
    shipmentPurpose?: 'GIFT' | 'NOT_SOLD' | 'PERSONAL_EFFECTS' | 'REPAIR_AND_RETURN' | 'SAMPLE' | 'SOLD';

    /**
     * These are special instructions that will be populated on the Commercial Invoice
     * (or Pro Forma). Example: specialInstructions
     */
    specialInstructions?: string;

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity
     */
    taxesOrMiscellaneousCharge?: ShipmentsAPI.Money;

    /**
     * Specifies the Taxes Or Miscellaneous Charge Type Example: COMMISSIONS
     */
    taxesOrMiscellaneousChargeType?:
      | 'COMMISSIONS'
      | 'DISCOUNTS'
      | 'HANDLING_FEES'
      | 'OTHER'
      | 'ROYALTIES_AND_LICENSE_FEES'
      | 'TAXES';

    /**
     * The termsOfSale that will populate the Commercial Invoice (or Pro Forma). Max
     * length is 3 Example: FCA
     */
    termsOfSale?: string;
  }

  export namespace CommercialInvoice {
    /**
     * These are email disposition details. Provides the type and email addresses of
     * e-mail recipients. If returnedDispositionDetail in labelSpecification is set as
     * true then email will be send with label and documents copy.
     */
    export interface EmailNotificationDetail {
      /**
       * This is email Address. Example: xxxx@xxx.com
       */
      emailAddress?: string;

      /**
       * Specify the recipient Type. Example: SHIPPER/BROKER
       */
      recipientType?: string;

      /**
       * Specify the email status. Example: EMAILED
       */
      type?: string;
    }
  }

  export interface Commodity {
    /**
     * Required ScrewsMaximum allowed 450 characters. Example: description
     */
    description: string;

    /**
     * This object contains additional quantitative information other than weight and
     * quantity to calculate duties and taxes.
     */
    additionalMeasures?: Array<Commodity.AdditionalMeasure>;

    /**
     * This is an identifying mark or number used on the packaging of a shipment to
     * help customers identify a particular shipment Example: 87123
     */
    cIMarksAndNumbers?: string;

    /**
     * This is commodity country of manufacture. This is required for International
     * shipments. Maximum allowed length is 4. Example: US
     * <a onclick='loadDocReference("countrycodes")'>click here to see Country
     * codes</a>
     */
    countryOfManufacture?: string;

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity.
     */
    customsValue?: Commodity.CustomsValue;

    /**
     * Specify the export license expiration date for the shipment. Format YYYY-MM-DD
     * Example : 2009-04-12
     */
    exportLicenseExpirationDate?: string;

    /**
     * This is the export license number for the shipment. Example: 26456
     */
    exportLicenseNumber?: string;

    /**
     * This is to specify the Harmonized Tariff System (HTS) code to meet U.S. and
     * foreign governments' customs requirements. These are mainly used to estimate the
     * duties and taxes. Example: 0613 To research the classification for your
     * commodity, use the FedEx Global Trade Manager online at
     * <a href='http://www.fedex.com/gtm' target='_blank'>fedex.com/gtm</a>. You will
     * find country-specific information to determine whether your commodity is
     * considered to be a document or non-document for your destination.
     */
    harmonizedCode?: string;

    /**
     * This is Commodity name. Example: Non-Threaded Rivets
     */
    name?: string;

    /**
     * Indicate the number of pieces associated with the commodity. The value can
     * neither be negative nor exceed 9,999. Example: 12
     */
    numberOfPieces?: number;

    /**
     * This is a part number. Example: 167
     */
    partNumber?: string;

    /**
     * This field is used for calculation of duties and taxes.
     *
     * Valid values are : BUSINESS and CONSUMER. Example:BUSINESS
     */
    purpose?: 'BUSINESS' | 'CONSUMER';

    /**
     * This is the units quantity (using quantityUnits as the unit of measure) per
     * commodity. This is used to estimate duties and taxes. Example: 125
     */
    quantity?: number;

    /**
     * This is the unit of measure for the units quantity. This is used to estimate
     * duties and taxes. Example: EA
     * <a onclick='loadDocReference("harmonizedsystemcodeunitofmeasure-table1")'>click
     * here to see Commodity Unit Measures</a>
     */
    quantityUnits?: string;

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity
     */
    unitPrice?: ShipmentsAPI.Money;

    /**
     * Indicates the USMCA detail
     */
    usmcaDetail?: Commodity.UsmcaDetail;

    /**
     * It is the total weight of the commodity. Note: Weight is not required for One
     * rate shipments
     */
    weight?: Commodity.Weight;
  }

  export namespace Commodity {
    export interface AdditionalMeasure {
      /**
       * Specify commodity quantity.
       */
      quantity?: number;

      /**
       * Unit of measure used to express the quantity of this commodity line item.
       */
      units?: string;
    }

    /**
     * This customs value is applicable for all items(or units) under the specified
     * commodity.
     */
    export interface CustomsValue {
      /**
       * This is commodity value in amount used for Customs declaration. Max limit: 11
       * digits before decimal. Example: 1,55,6457.25
       */
      amount?: number;

      /**
       * This is the currency code for the amount. Example: USD
       * <a onclick='loadDocReference("currencycodes")'>Click here to see Currency
       * codes</a>
       */
      currency?: string;
    }

    /**
     * Indicates the USMCA detail
     */
    export interface UsmcaDetail {
      /**
       * Specify the origin criterion.
       */
      originCriterion?: 'A' | 'B' | 'C' | 'D' | 'E';
    }

    /**
     * It is the total weight of the commodity. Note: Weight is not required for One
     * rate shipments
     */
    export interface Weight {
      /**
       * Indicate the weight unit type. The package and commodity weight unit should be
       * the same else the request will result in an error.
       */
      units: 'KG';

      /**
       * Weight Value. Example: 68.25
       */
      value: number;
    }
  }

  /**
   * These are broker details for the shipment.
   */
  export interface Broker {
    /**
     * These are broker details for the shipment with physical address, contact and
     * account number information.
     */
    broker?: Broker.Broker;

    /**
     * Identifies the type of Broker. Example: IMPORT
     */
    type?: 'IMPORT';
  }

  export namespace Broker {
    /**
     * These are broker details for the shipment with physical address, contact and
     * account number information.
     */
    export interface Broker extends ShipmentsAPI.Party1 {
      /**
       * Specifies broker address details.
       */
      address: unknown;

      /**
       * Specifies broker contact details.
       */
      contact: unknown;
    }
  }

  /**
   * These are customs Option Detail, type must be indicated for each occurrence.
   */
  export interface CustomsOption {
    /**
     * Specify additional description about customs options. This is a required field
     * when the Type is OTHER.
     */
    description?: string;

    /**
     * Specify the reason for a global return, as recognized by Customs. Valid
     * values:<ul><li>COURTESY_RETURN_LABEL: Applicable for Outbound
     * shipments.</li><li>EXHIBITION_TRADE_SHOW: For exhibition or trade-show, outbound
     * and inbound.</li><li>FAULTY_ITEM: For faulty item being returned, inbound
     * only.</li><li>FOLLOWING_REPAIR: For repaired or processed item being sent,
     * outbound only.</li><li>FOR_REPAIR: For repair or processing, outbound and
     * inbound.</li><li>ITEM_FOR_LOAN: For loan item, outbound and
     * inbound.</li><li>OTHER: Other reason, outbound and inbound. This type requires a
     * description.</li><li>REJECTED: For rejected merchandise being returned,
     * inbound.</li><li>REPLACEMENT: For replacement being sent, outbound
     * only.</li><li>TRIAL: For use in a trial, outbound and inbound.</li></ul>
     */
    type?:
      | 'COURTESY_RETURN_LABEL'
      | 'EXHIBITION_TRADE_SHOW'
      | 'FAULTY_ITEM'
      | 'FOLLOWING_REPAIR'
      | 'FOR_REPAIR'
      | 'ITEM_FOR_LOAN'
      | 'OTHER'
      | 'REJECTED'
      | 'REPLACEMENT'
      | 'TRIAL';
  }

  /**
   * Specifies about the statements to be declared for Customs.
   */
  export interface DeclarationStatementDetail {
    /**
     * Specify the low Value statement necessary for printing the USMCA for Customs
     * documentation.
     */
    usmcaLowValueStatementDetail: DeclarationStatementDetail.UsmcaLowValueStatementDetail;
  }

  export namespace DeclarationStatementDetail {
    /**
     * Specify the low Value statement necessary for printing the USMCA for Customs
     * documentation.
     */
    export interface UsmcaLowValueStatementDetail {
      /**
       * Customs Role Type. Example: EXPORTER
       */
      customsRole: 'EXPORTER' | 'IMPORTER';

      /**
       * Specify the country Of Origin of Low Value Document for Customs declaration.
       * Example:true
       */
      countryOfOriginLowValueDocumentRequested?: boolean;
    }
  }

  /**
   * This is a payment type, basically indicates who is the payor for the
   * shipment.Conditional required for International Shipments
   */
  export interface DutiesPayment {
    /**
     * These are billing details.
     */
    billingDetails?: DutiesPayment.BillingDetails;

    /**
     * Indicates who and how the shipment will be paid for.Required for Express and
     * Ground. Example: SENDER
     */
    paymentType?: 'SENDER' | 'RECIPIENT' | 'THIRD_PARTY' | 'COLLECT';

    /**
     * Information about the person who is paying for the shipment. Not applicable for
     * credit card payment.
     */
    payor?: DutiesPayment.Payor;
  }

  export namespace DutiesPayment {
    /**
     * These are billing details.
     */
    export interface BillingDetails {
      /**
       * This is account nick name.
       */
      accountNickname?: string;

      /**
       * This is bill to account number.
       */
      accountNumber?: string;

      /**
       * This is the country code of the account number. Example: CA
       */
      accountNumberCountryCode?: string;

      /**
       * This is bill to alias identifier.
       */
      aliasId?: string;

      /**
       * Indicates a billing code.
       */
      billingCode?: string;

      /**
       * These are duties and taxes billing type.
       */
      billingType?: string;
    }

    /**
     * Information about the person who is paying for the shipment. Not applicable for
     * credit card payment.
     */
    export interface Payor {
      /**
       * Use this object to provide the attributes such as physical address, contact
       * information and account number information.
       */
      responsibleParty?: Payor.ResponsibleParty;
    }

    export namespace Payor {
      /**
       * Use this object to provide the attributes such as physical address, contact
       * information and account number information.
       */
      export interface ResponsibleParty {
        /**
         * This is FedEx Account number details.
         */
        accountNumber?: ShipmentsAPI.PartyAccountNumber;

        /**
         * This is detailed information on physical location. May be used as an actual
         * physical address (place to which one could go), or as a container of address
         * parts which should be handled as a unit (such as a city-state-ZIP combination
         * within the U.S.).
         */
        address?: ShipmentsAPI.Address1;

        /**
         * Indicate the contact details of the shipper.
         */
        contact?: ShipmentsAPI.Contact1;

        /**
         * This is the tax identification number details.
         */
        tins?: Array<ShipmentsAPI.TaxpayerIdentification>;
      }
    }
  }

  /**
   * These are export Detail used for US or CA exports.
   */
  export interface ExportDetail {
    /**
     * Specify the filing option being exercised. Required for non-document shipments
     * originating in Canada destinated for any country other than Canada, the United
     * States, Puerto Rico, or the U.S. Virgin Islands.
     */
    b13AFilingOption?:
      | 'NOT_REQUIRED'
      | 'MANUALLY_ATTACHED'
      | 'FILED_ELECTRONICALLY'
      | 'SUMMARY_REPORTING'
      | 'FEDEX_TO_STAMP';

    /**
     * Use this object to specify the appropriate destination control statement
     * type(s). Also make sure to specify destination country and end user.
     */
    destinationControlDetail?: ExportDetail.DestinationControlDetail;

    /**
     * For US export shipments requiring an EEI, enter the ITN number received from AES
     * when you filed your shipment or the FTR (Foreign Trade Regulations) exemption
     * number.The proper format for an ITN number is AES XYYYYMMDDNNNNNN where YYYYMMDD
     * is date and NNNNNN are numbers generated by the AES. Example: AESX20220714987654
     * Note: The ITN or FTR exemption number you submit in the ship request prints on
     * the international shipping label.
     *
     * For CA export shipments,it can be Proof of report number(15-32 alphanumeric) ,
     * Summary proof of report number(7-32 alphanumeric) or Exemption number(2 digit)
     * based on the selected b13AFilingOption. Example: 98765432107654321(POR number),
     * 7654321(Summary POR number) and 02(Exemption number). For FTR exemption number
     * you need provide a predefined value as NO_EEI_30_37_A.
     */
    exportComplianceStatement?: string;

    /**
     * This is a Permit Number. This field is applicable only to Canada export
     * non-document shipments of any value to any destination. No special characters
     * are allowed. Example: 12345
     */
    permitNumber?: string;
  }

  export namespace ExportDetail {
    /**
     * Use this object to specify the appropriate destination control statement
     * type(s). Also make sure to specify destination country and end user.
     */
    export interface DestinationControlDetail {
      /**
       * Specify appropriate destination control statement type(s), Also make sure to
       * specify destination country and end user.
       */
      statementTypes: 'DEPARTMENT_OF_COMMERCE' | 'DEPARTMENT_OF_STATE';

      /**
       * Specify DCS shipment destination country. You may enter up to four country codes
       * in this element. Up to 11 alphanumeric characters are allowed. Example: US
       * <a onclick='loadDocReference("countrycodes")'>click here to see Country
       * codes</a>
       */
      destinationCountries?: Array<string>;

      /**
       * Specify End User name. Its is required if StatementTypes is entered as
       * DEPARTMENT_OF_STATE. Example: John Wick
       */
      endUser?: string;
    }
  }

  /**
   * Use this element to provide valid identification details. Used for populating
   * brazil tax id.
   */
  export interface RecipientCustomsID {
    /**
     * This is ID Type.
     */
    type?: 'COMPANY' | 'INDIVIDUAL' | 'PASSPORT';

    /**
     * This is the ID number.
     */
    value?: string;
  }
}

/**
 * Indicate the Delivery On Invoice Acceptance detail. Recipient is required for
 * Delivery On Invoice Special service.
 */
export interface DeliveryOnInvoiceAcceptanceDetail {
  /**
   * The descriptive data for the recipient of the shipment and the physical location
   * for the shipment destination.
   */
  recipient?: DeliveryOnInvoiceAcceptanceDetail.Recipient;
}

export namespace DeliveryOnInvoiceAcceptanceDetail {
  /**
   * The descriptive data for the recipient of the shipment and the physical location
   * for the shipment destination.
   */
  export interface Recipient extends ShipmentsAPI.RecipientsParty {
    address: Recipient.Address;

    contact: Recipient.Contact;
  }

  export namespace Recipient {
    export interface Address {
      /**
       * The two-letter code used to identify a country. Maximum length is 2. Example: US
       * <a onclick='loadDocReference("countrycodes")'>click here to see Country
       * codes</a>
       */
      countryCode: string;

      /**
       * This is the combination of number, street name, etc. Note: At least one line is
       * required and streetlines more than 3 will be ignored. Empty lines should not be
       * included. Maximum length per line is 35. Example: [10 FedEx Parkway, Suite 302,
       * .etc.]
       */
      streetLines: Array<string>;
    }

    export interface Contact {
      /**
       * Identifies the company this contact is associated with. Maximum length is 35.
       */
      companyName: string;

      /**
       * Specify Person Name. Example: John Taylor
       */
      personName: string;

      /**
       * Identifies the phone number associated with this contact. Maximum length is 10.
       */
      phoneNumber: string;
    }
  }
}

/**
 * Indicates the doc tab zone specification.
 */
export interface DocTabZoneSpecification {
  /**
   * Indicate the path request/reply element to be printed on doc tab. Example:
   * <ul><li> REQUEST/PACKAGE/weight/Value</li><li>
   * REQUEST/PACKAGE/weight/Value</li><li>
   * REQUEST/PACKAGE/InsuredValue/Amount</li><li>
   * REQUEST/SHIPMENT/SpecialServicesRequested/CodDetail/CodCollectionAmount/Amount</li><li>REQUEST/SHIPMENT/Shipper/Address/StreetLines[1]CLIENT/MeterNumber</li><li>
   * TRANSACTION/CustomerTransactionId</li><li>
   * REQUEST/SHIPMENT/TotalWeight/Value</li><li>
   * REQUEST/SHIPMENT/ShipTimestamp</li><li>
   * REQUEST/SHIPMENT/Recipient/Contact/PersonName</li><li>
   * REPLY/SHIPMENT/OperationalDetail/DeliveryDate</li><li>
   * REPLY/SHIPMENT/RATES/ACTUAL/totalBaseCharge/Amount</li><li>
   * REPLY/SHIPMENT/RATES/ACTUAL/totalFreightDiscounts/Amount</li><li>
   * REPLY/SHIPMENT/RATES/ACTUAL/totalSurcharges/Amount</li><li>
   * REPLY/SHIPMENT/RATES/ACTUAL/totalNetCharge/Amount</li><li>
   * REPLY/SHIPMENT/RATES/PAYOR_ACCOUNT_PACKAGE/totalSurcharges/Amount</li></ul>
   */
  dataField?: string;

  /**
   * Indicates the parameter name in the header for the doc tab zone. The maximum
   * charater limit is 7. Example: WHT
   */
  header?: string;

  /**
   * Indicates the justification format for the string.
   */
  justification?: 'LEFT' | 'RIGHT';

  /**
   * Indicates the actual data to be printed in the label
   */
  literalValue?: string;

  /**
   * It is a non-negative integer that represents the portion of doc-tab in a label.
   * Example: 1
   */
  zoneNumber?: number;
}

/**
 * Indicate the requested options for document format.
 */
export interface DocumentFormatOptionsRequested {
  /**
   * Indicates the format options. SUPPRESS_ADDITIONAL_LANGUAGES value will suppress
   * English language if another language is specified in the language code field.
   */
  options?: Array<'SHIPPING_LABEL_FIRST' | 'SHIPPING_LABEL_LAST' | 'SUPPRESS_ADDITIONAL_LANGUAGES'>;
}

/**
 * Use this object to specify all information on how the electronic Trade document
 * references used with the shipment.
 */
export interface EtdDetail {
  /**
   * Use this object to specify the details regarding already uploded document(s).
   * This object is required if the documents are uploaded Pre-Shipment uploaded
   * documents. It is recommended to provide values for all elements under this
   * object.
   */
  attachedDocuments?: Array<UploadDocumentReferenceDetail>;

  /**
   * Specifies the Post Document Upload Example: POST_SHIPMENT_UPLOAD_REQUESTED
   */
  attributes?: Array<'POST_SHIPMENT_UPLOAD_REQUESTED'>;

  /**
   * Indicates the types of shipping documents requested by the shipper. Example:
   * CERTIFICATE_OF_ORIGIN, COMMERCIAL_INVOICE etc.
   */
  requestedDocumentTypes?: Array<
    | 'CERTIFICATE_OF_ORIGIN'
    | 'COMMERCIAL_INVOICE'
    | 'CUSTOM_PACKAGE_DOCUMENT'
    | 'CUSTOM_SHIPMENT_DOCUMENT'
    | 'CUSTOMER_SPECIFIED_LABELS'
    | 'EXPORT_DECLARATION'
    | 'GENERAL_AGENCY_AGREEMENT'
    | 'LABEL'
    | 'USMCA_CERTIFICATION_OF_ORIGIN'
    | 'OP_900'
    | 'PENDING_SHIPMENT_EMAIL_NOTIFICATION'
    | 'PRO_FORMA_INVOICE'
    | 'RETURN_INSTRUCTIONS'
    | 'USMCA_COMMERCIAL_INVOICE_CERTIFICATION_OF_ORIGIN'
  >;
}

/**
 * Use this object to specify required information for a shipment to be held at
 * destination FedEx location. <i>Note: This object HoldAtLocationDetail is
 * Required, when HOLD_AT_LOCATION is chosen in the specialServiceTypes.</i>
 */
export interface HoldAtLocationDetail {
  /**
   * This is an alphanumeric identifier used for Location/Facility Identification.
   * Example: YBZA Note: <ul><li>For HAL Shipment, Location ID is <b>REQUIRED</b> to
   * ensure packages are delivered to the right location.</li><li>Use endpoint
   * [<b>Find Location</b>] in [<b>Location Search API</b>], to find the correct
   * location ID for your shipment.</li></ul>
   */
  locationId: string;

  /**
   * Specifies the contact and address details of a location.
   */
  locationContactAndAddress?: ContactAndAddress;

  /**
   * Type of facility at which package/shipment is to be held. Example: FEDEX_ONSITE
   */
  locationType?:
    | 'FEDEX_AUTHORIZED_SHIP_CENTER'
    | 'FEDEX_OFFICE'
    | 'FEDEX_SELF_SERVICE_LOCATION'
    | 'FEDEX_STAFFED'
    | 'RETAIL_ALLICANCE_LOCATION'
    | 'FEDEX_GROUND_TERMINAL'
    | 'FEDEX_ONSITE';
}

/**
 * These are Special service elements for FedEx Ground Home Delivery shipments. If
 * selected, element homedeliveryPremiumType is mandatory.
 */
export interface HomeDeliveryPremiumDetail {
  /**
   * This is delivery date. Required for FedEx Date Certain Home Delivery. Valid
   * dates are Monday to Sunday. There may be a delay in delivery on Sundays to
   * locations that are geographically difficult to access. Example: 2019-06-26
   */
  deliveryDate?: string;

  /**
   * Home Delivery Premium Type. Allows the user to specify additional premimum
   * service options for their home delivery shipment. Customer can specify Evening
   * delivery or a Date certain, or can specify they would like to make an
   * appointment for the delivery. Example: APPOINTMENT
   */
  homedeliveryPremiumType?: 'APPOINTMENT' | 'DATE_CERTAIN' | 'EVENING';

  /**
   * Indicate the phone number. Only numeric values allowed. Note that phoneNumber is
   * mandatory when homedeliveryPremiumType is DATE_CERTAIN or EVENING.
   */
  phoneNumber?: HomeDeliveryPremiumDetail.PhoneNumber;
}

export namespace HomeDeliveryPremiumDetail {
  /**
   * Indicate the phone number. Only numeric values allowed. Note that phoneNumber is
   * mandatory when homedeliveryPremiumType is DATE_CERTAIN or EVENING.
   */
  export interface PhoneNumber {
    /**
     * Area-Code Example: 901
     */
    areaCode?: string;

    /**
     * Extension Example: 200
     */
    extension?: string;

    /**
     * Local Number Example: 3575012
     */
    localNumber?: string;

    /**
     * Personal Identification Number Example: 98712345
     */
    personalIdentificationNumber?: string;
  }
}

/**
 * Use this object to specify International Controlled Export shipment Details.
 * Note: licenseOrPermitExpirationDate and licenseOrPermitNumber are not required
 * when type is WAREHOUSE_WITHDRAWAL.
 */
export interface InternationalControlledExportDetail {
  /**
   * International Controlled Export Type Example: WAREHOUSE_WITHDRAWAL
   */
  type:
    | 'DEA_036'
    | 'DEA_236'
    | 'DSP_05'
    | 'DSP_61'
    | 'DSP_73'
    | 'DSP_85'
    | 'DSP_LICENSE_AGREEMENT'
    | 'WAREHOUSE_WITHDRAWAL'
    | 'FROM_FOREIGN_TRADE_ZONE'
    | 'DEA_486'
    | 'DSP_94';

  /**
   * Indicate Entry Number for the export. Example: 125
   */
  entryNumber?: string;

  /**
   * Indicate the Foreign Trade Zone Code. Example: US
   */
  foreignTradeZoneCode?: string;

  /**
   * Indicate the expiration date for the license or permit. The format is
   * YYYY-MM-DD. Example: "2019-12-03"
   */
  licenseOrPermitExpirationDate?: string;

  /**
   * Indicate License Or Permit Number for the commodity being exported. Example: 11
   */
  licenseOrPermitNumber?: string;
}

/**
 * These are International Traffic In Arms Regulations shipment service details.
 */
export interface InternationalTrafficInArmsRegulationsDetail {
  /**
   * The export or license number for the ITAR shipment. Minimum length is 5
   * characters. Maximum length is 21 characters. Example: 9871234
   */
  licenseOrExemptionNumber: string;
}

/**
 * These are shipping document/label specific information.
 */
export interface LabelResponseVo {
  /**
   * These are alerts received in the label response.
   */
  alerts?: Array<Alert>;

  /**
   * This is the content key of the document/label. Example: content key
   */
  contentKey?: string;

  /**
   * Indicates the type of document/label.
   */
  contentType?:
    | 'LABEL'
    | 'BILL_OF_LADING'
    | 'GAA_FORM'
    | 'HAZMAT_LABEL'
    | 'END_OF_DAY_HAZMAT_REPORT'
    | 'MANIFEST_REPORT'
    | 'MULTIWEIGHT_REPORT'
    | 'MERGED_LABEL_DOCUMENTS'
    | 'AUXILIARY'
    | 'RETURN_INSTRUCTIONS'
    | 'ACCEPTANCE_LABEL'
    | 'COMMERCIAL_INVOICE'
    | 'PROFORMA_INVOICE'
    | 'USMCA_CERTIFICATION_OF_ORIGIN'
    | 'CERTIFICATE_OF_ORIGIN'
    | 'MERGED_LABELS_ONLY'
    | 'USMCA_COMMERCIAL_INVOICE_CERTIFICATION_OF_ORIGIN';

  /**
   * These are the number of copies to print for the specific document type. Example:
   * 10
   */
  copiesToPrint?: number;

  /**
   * This is the document type. Example: PDF
   */
  docType?: string;

  /**
   * Specifies if the document is encoded. Example: encoded label
   */
  encodedLabel?: string;

  /**
   * This is the tracking number of the package. Example: 49XXX0000XXX20032835
   */
  trackingNumber?: string;

  /**
   * The URL of the shipping document/label Example:
   * https://.../document/v2/document/retrieve/SH,794816968200_Merge/isLabel=true&autoPrint=false
   * <i>Note: The URL once created will be active for 24 hours.</i>
   */
  url?: string;
}

/**
 * These are label specification details includes the image type, printer format,
 * and label stock for label. Can also specify specific details such as doc-tab
 * content, regulatory labels, and masking data on the label.
 */
export interface LabelSpecification {
  /**
   * Specifies the image type of this shipping document. Example:PDF
   */
  imageType: 'ZPLII' | 'EPL2' | 'PDF' | 'PNG';

  /**
   * Label Stock Type. Example: PAPER_7X475
   */
  labelStockType:
    | 'PAPER_4X6'
    | 'STOCK_4X675'
    | 'PAPER_4X675'
    | 'PAPER_4X8'
    | 'PAPER_4X9'
    | 'PAPER_7X475'
    | 'PAPER_85X11_BOTTOM_HALF_LABEL'
    | 'PAPER_85X11_TOP_HALF_LABEL'
    | 'PAPER_LETTER'
    | 'STOCK_4X675_LEADING_DOC_TAB'
    | 'STOCK_4X8'
    | 'STOCK_4X9_LEADING_DOC_TAB'
    | 'STOCK_4X6'
    | 'STOCK_4X675_TRAILING_DOC_TAB'
    | 'STOCK_4X9_TRAILING_DOC_TAB'
    | 'STOCK_4X9'
    | 'STOCK_4X85_TRAILING_DOC_TAB'
    | 'STOCK_4X105_TRAILING_DOC_TAB';

  /**
   * This object allows the control of label content for customization.
   */
  customerSpecifiedDetail?: LabelSpecification.CustomerSpecifiedDetail;

  /**
   * Specifies the label Format Type Example: COMMON2D
   */
  labelFormatType?: 'COMMON2D' | 'LABEL_DATA_ONLY';

  /**
   * This is the order of the Shipping label/documents to be generated.
   */
  labelOrder?: 'SHIPPING_LABEL_FIRST' | 'SHIPPING_LABEL_LAST';

  /**
   * This is applicable only to documents produced on thermal printers with roll
   * stock.
   */
  labelPrintingOrientation?: 'BOTTOM_EDGE_OF_TEXT_FIRST' | 'TOP_EDGE_OF_TEXT_FIRST';

  /**
   * This is applicable only to documents produced on thermal printers with roll
   * stock.
   */
  labelRotation?: 'LEFT' | 'RIGHT' | 'UPSIDE_DOWN' | 'NONE';

  /**
   * Specifies the contact and address details of a location.
   */
  printedLabelOrigin?: ContactAndAddress;

  /**
   * Specifies the image resolution in DPI (Dots Per Inch). Valid values are 203
   * & 300. If not provided or for any other value, system will default it to
   * 203.Note: 300 DPI resolution is only allowed for ZPLII image type.
   */
  resolution?: number;

  /**
   * Specifies a particular way in which a kind of shipping document is to be
   * produced and provided Example:RETURNED
   */
  returnedDispositionDetail?: string;
}

export namespace LabelSpecification {
  /**
   * This object allows the control of label content for customization.
   */
  export interface CustomerSpecifiedDetail {
    /**
     * Specify how the additional details to be provided on the labels.
     */
    additionalLabels?: Array<CustomerSpecifiedDetail.AdditionalLabel>;

    /**
     * Specifies details of doc tab content.It is only applicable only with imageType
     * as ZPLII.
     */
    docTabContent?: CustomerSpecifiedDetail.DocTabContent;

    /**
     * Controls which data/sections will be suppressed. Example: TOTAL_WEIGHT
     */
    maskedData?: Array<
      | 'CUSTOMS_VALUE'
      | 'SHIPPER_ACCOUNT_NUMBER'
      | 'DIMENSIONS'
      | 'DUTIES_AND_TAXES_PAYOR_ACCOUNT_NUMBER'
      | 'INSURED_VALUE'
      | 'SECONDARY_BARCODE'
      | 'SHIPPER_INFORMATION'
      | 'TERMS_AND_CONDITIONS'
      | 'TOTAL_WEIGHT'
      | 'TRANSPORTATION_CHARGES_PAYOR_ACCOUNT_NUMBER'
    >;

    /**
     * Specify how the regulatory details to be provided on the labels.
     */
    regulatoryLabels?: Array<CustomerSpecifiedDetail.RegulatoryLabel>;
  }

  export namespace CustomerSpecifiedDetail {
    export interface AdditionalLabel {
      /**
       * Specifies the count of label to return. Example:1
       */
      count?: number;

      /**
       * Specify the type of additional details to be added on the label.
       * Example:MANIFEST
       */
      type?:
        | 'BROKER'
        | 'CONSIGNEE'
        | 'CUSTOMS'
        | 'DESTINATION'
        | 'DESTINATION_CONTROL_STATEMENT'
        | 'FREIGHT_REFERENCE'
        | 'MANIFEST'
        | 'ORIGIN'
        | 'RECIPIENT'
        | 'SECOND_ADDRESS'
        | 'SHIPPER';
    }

    /**
     * Specifies details of doc tab content.It is only applicable only with imageType
     * as ZPLII.
     */
    export interface DocTabContent {
      /**
       * It is a doc tab content type which is in barcoded format.
       */
      barcoded?: DocTabContent.Barcoded;

      /**
       * Indicates the content type of the doc tab.
       */
      docTabContentType?: 'BARCODED' | 'CUSTOM' | 'MINIMUM' | 'STANDARD' | 'ZONE001';

      /**
       * Indicate the doc tab specification for different zones on the label. The
       * specification includes zone number, header and data field to be displayed on the
       * label.
       */
      zone001?: DocTabContent.Zone001;
    }

    export namespace DocTabContent {
      /**
       * It is a doc tab content type which is in barcoded format.
       */
      export interface Barcoded {
        /**
         * Indicates the doc tab zone specification.
         */
        specification?: ShipmentsAPI.DocTabZoneSpecification;

        /**
         * Indicates the type of barcode symbology used on FedEx documents and labels.
         */
        symbology?:
          | 'CODABAR'
          | 'CODE128'
          | 'CODE128_WIDEBAR'
          | 'CODE128B'
          | 'CODE128C'
          | 'CODE39'
          | 'CODE93'
          | 'I2OF5'
          | 'MANUAL'
          | 'PDF417'
          | 'POSTNET'
          | 'QR_CODE'
          | 'UCC128';
      }

      /**
       * Indicate the doc tab specification for different zones on the label. The
       * specification includes zone number, header and data field to be displayed on the
       * label.
       */
      export interface Zone001 {
        /**
         * Indicate the doc tab specifications for the individual doc tab zone on the
         * label.
         */
        docTabZoneSpecifications?: Array<ShipmentsAPI.DocTabZoneSpecification>;
      }
    }

    export interface RegulatoryLabel {
      /**
       * Specify the regulatory content preference to be displayed on the label.
       */
      generationOptions?:
        | 'CONTENT_ON_SHIPPING_LABEL_PREFERRED'
        | 'CONTENT_ON_SUPPLEMENTAL_LABEL_ONLY'
        | 'CONTENT_ON_SHIPPING_LABEL_ONLY';

      /**
       * Specify the type of regulatory content to be added on the label.
       */
      type?: 'ALCOHOL_SHIPMENT_LABEL';
    }
  }
}

/**
 * Specifies the advisory details.
 */
export interface Message {
  /**
   * Specifies the message code for the tag created. Example: code
   */
  code?: string;

  /**
   * Specifies the message ID and value. Example: localizedText
   */
  localizedText?: string;

  /**
   * Specifies the message parameters list.
   */
  parameters?: Array<Message.Parameter>;

  /**
   * Specifies the text message for the tag created. Example: Text
   */
  text?: string;
}

export namespace Message {
  export interface Parameter {
    /**
     * Specifies the message parameter code. Example: message ID
     */
    id?: string;

    /**
     * Specifies the message parameter value of the code. Example: value
     */
    value?: string;
  }
}

/**
 * This customs value is applicable for all items(or units) under the specified
 * commodity
 */
export interface Money {
  /**
   * This is the amount. Maximum limit is 5 digits before decimal. Example: 12.45
   */
  amount?: number;

  /**
   * This is the currency code for the amount. Example: USD
   * <a onclick='loadDocReference("currencycodes")'>Click here to see Currency
   * codes</a>
   */
  currency?: string;
}

export interface Party1 {
  /**
   * Indicate the contact details for this shipment.
   */
  contact: PartyContact;

  /**
   * This is FedEx Account number details.
   */
  accountNumber?: PartyAccountNumber;

  /**
   * This is detailed information on physical location. May be used as an actual
   * physical address (place to which one could go), or as a container of address
   * parts which should be handled as a unit (such as a city-state-ZIP combination
   * within the US).
   */
  address?: PartyAddress;

  /**
   * This is the tax identification number details.
   */
  tins?: Array<TaxpayerIdentification>;
}

export interface Party3 {
  /**
   * This is detailed information on physical location. May be used as an actual
   * physical address (place to which one could go), or as a container of address
   * parts which should be handled as a unit (such as a city-state-ZIP combination
   * within the US).
   */
  address?: Party3.Address;

  /**
   * Indicate the contact details for this shipment.
   */
  contact?: Party3.Contact;

  /**
   * This is the tax identification number details.
   */
  tins?: Array<TaxpayerIdentification>;
}

export namespace Party3 {
  /**
   * This is detailed information on physical location. May be used as an actual
   * physical address (place to which one could go), or as a container of address
   * parts which should be handled as a unit (such as a city-state-ZIP combination
   * within the US).
   */
  export interface Address {
    /**
     * This is a placeholder for City Name. Example: Beverly Hills
     */
    city?: string;

    /**
     * This is the two-letter country code. Maximum length is 2. Example: US
     * <a onclick='loadDocReference("countrycodes")'>click here to see Country
     * codes</a>
     */
    countryCode?: string;

    /**
     * Indicates the geographic coordinates. example: geographicCoordinates
     */
    geographicCoordinates?: string;

    /**
     * This is the Postal code. This is Optional for non postal-aware countries.
     * Maximum length is 10. Example: 65247
     * <a onclick='loadDocReference("postalawarecountries")'>click here to see Postal
     * aware countries</a>
     */
    postalCode?: string;

    /**
     * Indicate whether this address is residential (as opposed to commercial).
     */
    residential?: boolean;

    /**
     * This is a placeholder for State or Province code.State code is required for US,
     * CA, PR and not required for other countries. Conditional. Max length is 2.
     * Example: CA. <a onclick='loadDocReference("canadaprovincecodes")'>click here to
     * see State or Province Code</a>
     */
    stateOrProvinceCode?: string;

    /**
     * This is the combination of number, street name, etc. Maximum length per line
     * is 35. Example: 10 FedEx Parkway, Suite 302.<p><i>Note:<ul><li>At least one line
     * is required.</li><li>Streetlines more than 3 will be ignored.</li><li>Empty
     * lines should not be included</li><li>For SmartPost Shipments, only 30 characters
     * from the individual street lines will be printed on the
     * labels.</li></ul></i></p>
     */
    streetLines?: Array<string>;
  }

  /**
   * Indicate the contact details for this shipment.
   */
  export interface Contact {
    /**
     * Specify contact company name. Recommended length is 35. Note: There's no
     * specific validation of the company name.
     */
    companyName?: string;

    /**
     * Specify contact email address. Maximum length is 80. Example: sample@company.com
     */
    emailAddress?: string;

    /**
     * Specify contact person's fax number. Maximum length is 15.
     */
    faxNumber?: string;

    /**
     * Specify contact name. Maximum length is 70. Example: John Taylor
     */
    personName?: string;

    /**
     * Specify contact phone extension. Maximum length is 6. Example: 1234
     */
    phoneExtension?: string;

    /**
     * Specify contact phone number. Minimum length is 10 and supports Maximum as 15
     * for certain countries using longer phone numbers. Note: Recommended Maximum
     * length is 15 and there's no specific validation will be done for the phone
     * number. Example: 918xxxxx890
     */
    phoneNumber?: string;
  }
}

/**
 * This is FedEx Account number details.
 */
export interface PartyAccountNumber {
  /**
   * Conditional. The account number value. Max Length is 9. Example: 12XXXXX89
   */
  value?: string;
}

/**
 * This is detailed information on physical location. May be used as an actual
 * physical address (place to which one could go), or as a container of address
 * parts which should be handled as a unit (such as a city-state-ZIP combination
 * within the US).
 */
export interface PartyAddress {
  /**
   * The name of city, town of the recipient.Max length is 35. Example: Beverly Hills
   */
  city: string;

  /**
   * This is the two-letter country code. Maximum length is 2. Example: US
   * <a onclick='loadDocReference("countrycodes")'>click here to see Country
   * codes</a>
   */
  countryCode: string;

  /**
   * Combination of number, street name, etc. At least one line is required for a
   * valid physical address. Empty lines should not be included. Max Length is 35.
   * Example: [1550 Union Blvd,Suite 302]
   */
  streetLines: Array<string>;

  /**
   * This is the postal code. Note: This is Optional for non postal-aware countries.
   * Maximum length is 10. Example: 65247
   * <a onclick='loadDocReference("postalawarecountries")'>click here to see Postal
   * aware countries</a>
   */
  postalCode?: string;

  /**
   * Indicates whether this address is residential (as opposed to commercial).
   * Example: false
   */
  residential?: boolean;

  /**
   * The US States,Canada and Puerto Rico Province codes of the recipient. The Format
   * and presence of this field may vary depending on the country.State code is
   * required for US, CA, PR and not required for other countries. Conditional. Max
   * length is 2. Example: CA
   */
  stateOrProvinceCode?: string;
}

/**
 * This is detailed information on physical location. May be used as an actual
 * physical address (place to which one could go), or as a container of address
 * parts which should be handled as a unit (such as a city-state-ZIP combination
 * within the US).
 */
export interface PartyAddress2 {
  /**
   * The name of city, town of the recipient.Max length is 35. Example: Beverly Hills
   */
  city: string;

  /**
   * This is the two-letter country code. Maximum length is 2. Example: US
   * <a onclick='loadDocReference("countrycodes")'>click here to see Country
   * codes</a>
   */
  countryCode: string;

  /**
   * Combination of number, street name, etc. At least one line is required for a
   * valid physical address. Empty lines should not be included. Max Length is 35.
   * Example: [1550 Union Blvd,Suite 302]
   */
  streetLines: Array<string>;

  /**
   * This is the postal code. Note: This is Optional for non postal-aware countries.
   * Maximum length is 10. Example: 65247
   * <a onclick='loadDocReference("postalawarecountries")'>click here to see Postal
   * aware countries</a>
   */
  postalCode?: string;

  /**
   * Indicates whether this address is residential (as opposed to commercial).
   * Example: false
   */
  residential?: boolean;

  /**
   * It is used to identify the principal subdivisions (e.g., provinces or states) of
   * countries. The Format and presence of this field may vary depending on the
   * country. Note: For specific countries, such as the United States and Canada, and
   * Puerto Rico, there is a two-character state, province, codes limit . Example: TX
   */
  stateOrProvinceCode?: string;
}

/**
 * Indicate the contact details for this shipment.
 */
export interface PartyContact {
  /**
   * The shipper's phone number. Minimum length is 10 and supports maximum of 15 for
   * certain countries using longer phone numbers. Note: For US and CA, a phone
   * number must have exactly 10 digits, plus an optional leading country code of '1'
   * or '+1'. Example: 918xxxxx890
   */
  phoneNumber: string;

  /**
   * The shipper's company name. Max length is 35. Example: FedEx
   */
  companyName?: string;

  /**
   * Specify contact email address. Maximum length is 80. Example: sample@company.com
   */
  emailAddress?: string;

  /**
   * Specify contact name. Maximum length is 70. Note: Either the companyName or
   * personName is mandatory. Example: John Taylor
   */
  personName?: string;

  /**
   * Specify contact phone extension. Maximum length is 6. Example: 1234
   */
  phoneExtension?: string;
}

/**
 * Specifies the payment details specifying the method and means of payment to
 * FedEx for providing shipping services.
 */
export interface Payment {
  /**
   * Indicates who and how the shipment will be paid for.Required for Express and
   * Ground. Example: SENDER
   */
  paymentType: 'SENDER' | 'RECIPIENT' | 'THIRD_PARTY' | 'COLLECT';

  /**
   * Payor is mandatory when the paymentType is RECIPIENT, THIRD_PARTY or COLLECT.
   */
  payor?: Payment.Payor;
}

export namespace Payment {
  /**
   * Payor is mandatory when the paymentType is RECIPIENT, THIRD_PARTY or COLLECT.
   */
  export interface Payor {
    /**
     * Indicate the payer Information responsible for paying for the shipment. Note:
     * ResponsibleParty accountNumber is required for ACCOUNT based services.
     */
    responsibleParty: Payor.ResponsibleParty;
  }

  export namespace Payor {
    /**
     * Indicate the payer Information responsible for paying for the shipment. Note:
     * ResponsibleParty accountNumber is required for ACCOUNT based services.
     */
    export interface ResponsibleParty {
      /**
       * This is FedEx Account number details.
       */
      accountNumber: ShipmentsAPI.PartyAccountNumber;

      /**
       * This is detailed information on physical location. May be used as an actual
       * physical address (place to which one could go), or as a container of address
       * parts which should be handled as a unit (such as a city-state-ZIP combination
       * within the US).
       */
      address?: ShipmentsAPI.PartyAddress;

      /**
       * Indicate the contact details for this shipment.
       */
      contact?: ShipmentsAPI.PartyContact;
    }
  }
}

/**
 * This object is used to specify the Pending Shipment Type for Email label.
 */
export interface PendingShipmentDetail {
  /**
   * These are specific information about the pending email label. Required when
   * PendingShipmentType is EMAIL. Not applicable for CreateTag.
   */
  emailLabelDetail: PendingShipmentDetail.EmailLabelDetail;

  /**
   * Specifies the pending shipment type. Must include the value: EMAIL for email
   * return shipments. Not applicable for other types of shipments Example: EMAIL
   */
  pendingShipmentType: 'EMAIL';

  /**
   * These are the reference document details with the shipment.
   */
  attachedDocuments?: Array<PendingShipmentDetail.AttachedDocument>;

  /**
   * Specifies the Email Label expiration date. The maximum expiration date for an
   * Email Return Label must be greater of equal to the day of the label request and
   * not greater than 2 years in the future. Format[YYYY-MM-DD] Example: 2020-01-01
   */
  expirationTimeStamp?: string;

  /**
   * Use this object to allow the Email Label shipment originator, specify if the
   * Email label shipment completer can make modifications to editable shipment data.
   */
  processingOptions?: PendingShipmentDetail.ProcessingOptions;

  /**
   * These are documents that are recommended to be included with the shipment.
   * Example:ANTIQUE_STATEMENT_EUROPEAN_UNION
   */
  recommendedDocumentSpecification?: PendingShipmentDetail.RecommendedDocumentSpecification;
}

export namespace PendingShipmentDetail {
  /**
   * These are specific information about the pending email label. Required when
   * PendingShipmentType is EMAIL. Not applicable for CreateTag.
   */
  export interface EmailLabelDetail {
    /**
     * Specifies an optional personalized message to be included in the email to the
     * email label recipient. Example: YOUR OPTIONAL MESSAGE
     */
    message?: string;

    /**
     * This is Email label recipient email address, shipment role, & language locale
     * details. Atleast one entry must be specified.
     */
    recipients?: Array<EmailLabelDetail.Recipient>;
  }

  export namespace EmailLabelDetail {
    /**
     * These are the recipient details for the online email return label.
     */
    export interface Recipient {
      /**
       * This is recipient email address for notifying the return label. Maximum length
       * 200 characters. Example: neenaaaaa@abc.com
       */
      emailAddress: string;

      /**
       * Relationship that the emailRecipient has to the pending email return label
       * shipments. Valid Values: SHIPMENT_COMPLETOR,SHIPMENT_INITIATOR Example:
       * SHIPMENT_COMPLETOR
       */
      role: 'SHIPMENT_COMPLETOR' | 'SHIPMENT_INITIATOR';

      /**
       * These are locale details. Example: 'en_US'
       * <a onclick='loadDocReference("locales")'>click here to see locales</a> Note: If
       * the locale is left blank or an invalid locale is entered, an error message is
       * returned in response.
       */
      locale?: string;

      /**
       * These are to indicate how the email notifications for the pending shipment to be
       * processed.
       */
      optionsRequested?: Recipient.OptionsRequested;
    }

    export namespace Recipient {
      /**
       * These are to indicate how the email notifications for the pending shipment to be
       * processed.
       */
      export interface OptionsRequested {
        /**
         * These are the processing options.
         */
        options?: Array<
          'PRODUCE_PAPERLESS_SHIPPING_FORMAT' | 'SUPPRESS_ADDITIONAL_LANGUAGES' | 'SUPPRESS_ACCESS_EMAILS'
        >;
      }
    }
  }

  /**
   * Specify the document upload reference details.
   */
  export interface AttachedDocument {
    /**
     * This is the document description of the attached document. Example: PRO FORMA
     * INVOICE
     */
    description?: string;

    /**
     * This is the uploaded document ID value. Example: 090927d680038c61
     */
    documentId?: string;

    /**
     * Specify the reference for the uploaded document. Example: Reference
     */
    documentReference?: string;

    /**
     * This is the uploaded document type.
     */
    documentType?:
      | 'CERTIFICATE_OF_ORIGIN'
      | 'COMMERCIAL_INVOICE'
      | 'ETD_LABEL'
      | 'USMCA_CERTIFICATION_OF_ORIGIN'
      | 'NET_RATE_SHEET'
      | 'OTHER'
      | 'PRO_FORMA_INVOICE'
      | 'USMCA_COMMERCIAL_INVOICE_CERTIFICATION_OF_ORIGIN';
  }

  /**
   * Use this object to allow the Email Label shipment originator, specify if the
   * Email label shipment completer can make modifications to editable shipment data.
   */
  export interface ProcessingOptions {
    /**
     * Pending Shipment Processing Option Type Example: ALLOW_MODIFICATIONS
     */
    options?: Array<'ALLOW_MODIFICATIONS'>;
  }

  /**
   * These are documents that are recommended to be included with the shipment.
   * Example:ANTIQUE_STATEMENT_EUROPEAN_UNION
   */
  export interface RecommendedDocumentSpecification {
    /**
     * This is the recommended document Type.
     * <a onclick='loadDocReference("shipmentdocumenttype")'>click here to see shipment
     * document type</a>
     */
    types: Array<
      | 'ANTIQUE_STATEMENT_EUROPEAN_UNION'
      | 'ANTIQUE_STATEMENT_UNITED_STATES'
      | 'ASSEMBLER_DECLARATION'
      | 'BEARING_WORKSHEET'
      | 'CERTIFICATE_OF_SHIPMENTS_TO_SYRIA'
      | 'COMMERCIAL_INVOICE_FOR_THE_CARIBBEAN_COMMON_MARKET'
      | 'CONIFEROUS_SOLID_WOOD_PACKAGING_MATERIAL_TO_THE_PEOPLES_REPUBLIC_OF_CHINA'
      | 'DECLARATION_FOR_FREE_ENTRY_OF_RETURNED_AMERICAN_PRODUCTS'
      | 'DECLARATION_OF_BIOLOGICAL_STANDARDS'
      | 'DECLARATION_OF_IMPORTED_ELECTRONIC_PRODUCTS_SUBJECT_TO_RADIATION_CONTROL_STANDARD'
      | 'ELECTRONIC_INTEGRATED_CIRCUIT_WORKSHEET'
      | 'FILM_AND_VIDEO_CERTIFICATE'
      | 'INTERIM_FOOTWEAR_INVOICE'
      | 'USMCA_CERTIFICATION_OF_ORIGIN_CANADA_ENGLISH'
      | 'USMCA_CERTIFICATION_OF_ORIGIN_CANADA_FRENCH'
      | 'USMCA_CERTIFICATION_OF_ORIGIN_SPANISH'
      | 'USMCA_CERTIFICATION_OF_ORIGIN_UNITED_STATES'
      | 'PACKING_LIST'
      | 'PRINTED_CIRCUIT_BOARD_WORKSHEET'
      | 'REPAIRED_WATCH_BREAKOUT_WORKSHEET'
      | 'STATEMENT_REGARDING_THE_IMPORT_OF_RADIO_FREQUENCY_DEVICES'
      | 'TOXIC_SUBSTANCES_CONTROL_ACT'
      | 'UNITED_STATES_CARIBBEAN_BASIN_TRADE_PARTNERSHIP_ACT_CERTIFICATE_OF_ORIGIN_TEXTILES'
      | 'UNITED_STATES_CARIBBEAN_BASIN_TRADE_PARTNERSHIP_ACT_CERTIFICATE_OF_ORIGIN_NON_TEXTILES'
      | 'UNITED_STATES_NEW_WATCH_WORKSHEET'
      | 'UNITED_STATES_WATCH_REPAIR_DECLARATION'
    >;
  }
}

/**
 * Specifies discount Rate for Shipment.
 */
export interface RateDiscount {
  /**
   * Specifies the amount. Example: 8.9
   */
  amount?: number;

  /**
   * Specifies the description of the discounted rate. Example: description
   */
  description?: string;

  /**
   * Specifies the percentage of Rate discount. Example: 28.9
   */
  percent?: number;

  /**
   * The type of rate discount. <br/> Valid Values are BONUS,
   * COUPON,EARNED,OTHER,VOLUME. Example: COUPON
   */
  rateDiscountType?: string;
}

/**
 * The descriptive information of the recipient for the shipment and the physical
 * location for the package destination.
 */
export interface RecipientsParty {
  /**
   * This is detailed information on physical location. May be used as an actual
   * physical address (place to which one could go), or as a container of address
   * parts which should be handled as a unit (such as a city-state-ZIP combination
   * within the US).
   */
  address: PartyAddress2;

  /**
   * Indicate the contact details for this shipment.
   */
  contact: PartyContact;

  /**
   * Specify the delivery instructions to be added with the shipment. Use with Ground
   * Home Delivery. Example: Delivery Instructions
   */
  deliveryInstructions?: string;

  /**
   * This is the tax identification number details.
   */
  tins?: Array<TaxpayerIdentification>;
}

/**
 * These are one or more package-attribute descriptions, each of which describes an
 * individual package, a group of identical packages, or (for the
 * total-piece-total-weight case) common characteristics of all packages in the
 * shipment.<ul><li>At least one instance containing the weight for at least one
 * package is required for EXPRESS and GROUND shipments.</li><li>Single piece
 * requests will have one RequestedPackageLineItem.</li><li>Multiple piece requests
 * will have multiple RequestedPackageLineItems.</li><li>Maximum occurrences
 * is 30.</li></ul>
 */
export interface RequestedPackageLineItem {
  /**
   * These are the package weight details. Note: Weight is not required for One rate
   * shipments
   */
  weight: Weight;

  /**
   * Use this object to specify package content details.
   */
  contentRecord?: Array<RequestedPackageLineItem.ContentRecord>;

  /**
   * This object lists the customer references provided with the package.
   */
  customerReferences?: Array<RequestedPackageLineItem.CustomerReference>;

  /**
   * This customs value is applicable for all items(or units) under the specified
   * commodity
   */
  declaredValue?: Money;

  /**
   * Indicate the dimensions of the package. Following conditions will apply:
   * <ul><li>Dimensions are optional but when added, then all three dimensions must
   * be indicated.</li><li>Dimensions are required with YOUR_PACKAGING package
   * type.</li></ul>Note: The maximum/minimum dimension values varies based on the
   * services and the packaging types. Refer
   * <a href="https://www.fedex.com/en-us/service-guide.html" target="_blank">FedEx
   * Service Guide</a> for service details related to DIM Weighting for FedEx Express
   * and oversize conditions for FedEx Express and FedEx Ground.
   */
  dimensions?: RequestedPackageLineItem.Dimensions;

  /**
   * Indicate the grouped package count. These are number of identical package(s)
   * each with one or more commodities. Example: 2
   */
  groupPackageCount?: number;

  /**
   * This the item description for the package. Note: Item description is required
   * for Email Label return shipments and ground Create tag. Example: Item
   * description Maximum limit is 50 characters
   */
  itemDescription?: string;

  /**
   * Package description used for clearance. The value is required for intra-UAE. and
   * is optional for intra-EU. Example:description
   */
  itemDescriptionForClearance?: string;

  /**
   * These are special services that are available at the package level for some or
   * all service types.
   */
  packageSpecialServices?: RequestedPackageLineItem.PackageSpecialServices;

  /**
   * Optional. Used only with individual packages as a unique identifier of each
   * requested package. Will be adjusted at the shipment level as pieces are added.
   * Example: 1
   */
  sequenceNumber?: number;

  /**
   * Indicate the subPackagingType, if you are using your own packaging for the
   * shipment. Use it for all shipments inbound to Canada (CA) and inbound shipments
   * to the U.S. and Puerto Rico (PR) from Canada and Mexico (MX).subPackagingType is
   * mandatory for shipments to Canada. Example: TUBE, CARTON, CONTAINER. etc. Note:
   * If the value is TUBE, a non-machinable surcharge will be applicable for
   * SmartPost shipments. <a onclick='loadDocReference("subpackagetypes")'>click here
   * to see Sub-Packaging Types</a> For more information on physical packaging or
   * packaging regulatory requirements, contact your FedEx representative.
   */
  subPackagingType?: string;

  /**
   * Indicate the details about how to calculate variable handling charges at the
   * shipment level. They can be based on a percentage of the shipping charges or a
   * fixed amount. If indicated, element rateLevelType is required.
   */
  variableHandlingChargeDetail?: VariableHandlingChargeDetail;
}

export namespace RequestedPackageLineItem {
  /**
   * Use this object to specify package content details.
   */
  export interface ContentRecord {
    /**
     * This is the description of the package item.
     */
    description?: string;

    /**
     * This is a package item number.
     */
    itemNumber?: string;

    /**
     * This is the part number.
     */
    partNumber?: string;

    /**
     * This is the package item quantity.
     */
    receivedQuantity?: number;
  }

  export interface CustomerReference {
    /**
     * This is a customer reference type. The value specified here for the element is
     * printed on the Commercial Invoice only for tracking and label
     * information.<p>Note: <ul><li>The P_O_NUMBER value must be specified in
     * customerReferences under requestedPackageLineItems</li><li>The INVOICE_NUMBER
     * value that is printed on the FedEx-supplied invoice must be specified in
     * customerReferences under commercialInvoice. Value defined in this section will
     * print on the label that is attached to the package</li><li>The RMA_ASSOCIATION
     * value sent by the customer is returned on the label in human readable form but
     * also as a barcode.</li></ul>Note: INTRACOUNTRY_REGULATORY_REFERENCE is
     * applicable only in Intra-Brazil.
     * <a onclick='loadDocReference("customerreferencetypes")'>For more information,
     * click here for Customer References</a>. Example: DEPARTMENT_NUMBER
     */
    customerReferenceType?:
      | 'CUSTOMER_REFERENCE'
      | 'DEPARTMENT_NUMBER'
      | 'INVOICE_NUMBER'
      | 'P_O_NUMBER'
      | 'INTRACOUNTRY_REGULATORY_REFERENCE'
      | 'RMA_ASSOCIATION';

    /**
     * This is a customer reference type value. Example: 3686 <ul><li>The P_O_NUMBER
     * value must be specified in customerReferences under
     * requestedPackageLineItems</li><li>The INVOICE_NUMBER value that is printed on
     * the FedEx-supplied invoice must be specified in customerReferences under
     * commercialInvoice. Value defined in this section will print on the label that is
     * attached to the package</li><li>The RMA value sent by the customer is returned
     * on the label in human readable form but also as a barcode. RMA_ASSOCIATION only
     * prints on the label as a barcode for a Return shipment.</ul>NOTE:<ul><li>
     * INTRACOUNTRY_REGULATORY_REFERENCE is applicable only in Intra-Brazil.</li><li>
     * Maximum length varies for value field depending on
     * customerReferenceType.</li></ul> Maximum length for value is as follows:
     * <ul><li>CUSTOMER_REFERENCE - 40(Express), 30(Ground)</li><li>DEPARTMENT_NUMBER -
     * 30</li><li>INVOICE_NUMBER - 30</li><li>P_O_NUMBER -
     * 30</li><li>INTRACOUNTRY_REGULATORY_REFERENCE - 30</li><li>RMA_ASSOCIATION -
     * 20</li>
     */
    value?: string;
  }

  /**
   * Indicate the dimensions of the package. Following conditions will apply:
   * <ul><li>Dimensions are optional but when added, then all three dimensions must
   * be indicated.</li><li>Dimensions are required with YOUR_PACKAGING package
   * type.</li></ul>Note: The maximum/minimum dimension values varies based on the
   * services and the packaging types. Refer
   * <a href="https://www.fedex.com/en-us/service-guide.html" target="_blank">FedEx
   * Service Guide</a> for service details related to DIM Weighting for FedEx Express
   * and oversize conditions for FedEx Express and FedEx Ground.
   */
  export interface Dimensions {
    /**
     * Indicate the height of the package. No implied decimal places. Maximum value:
     * 999 Example: 10
     */
    height?: number;

    /**
     * Indicate the length of the package. No implied decimal places. Maximum value:
     * 999 Example: 20
     */
    length?: number;

    /**
     * Indicate the Unit of measure for the provided dimensions. Valid Values
     * are:<li>IN - inches</li><li>CM - centimeters</li>Note: Any value other than CM
     * including blank/null will default to IN.
     */
    units?: 'CM' | 'IN';

    /**
     * Indicate the width of the package. No implied decimal places. Maximum value: 999
     * Example: 10
     */
    width?: number;
  }

  /**
   * These are special services that are available at the package level for some or
   * all service types.
   */
  export interface PackageSpecialServices {
    /**
     * These are detcontentails for the package containing alcohol. This is required
     * for alcohol special service. The alcoholRecipientType is required.
     */
    alcoholDetail?: PackageSpecialServices.AlcoholDetail;

    /**
     * Provide details about the batteries or cells that are contained within this
     * specific package.
     */
    batteryDetails?: Array<PackageSpecialServices.BatteryDetail>;

    /**
     * Provide dangerous goods shipment details.
     */
    dangerousGoodsDetail?: PackageSpecialServices.DangerousGoodsDetail;

    /**
     * These are the package weight details. Note: Weight is not required for One rate
     * shipments
     */
    dryIceWeight?: PackageSpecialServices.DryIceWeight;

    /**
     * These are COD package details. For use with FedEx Ground services only; COD must
     * be present in shipments special services.
     */
    packageCODDetail?: PackageSpecialServices.PackageCodDetail;

    /**
     * Provide the pieceCount or VerificationBoxCount for batteries or cells that are
     * contained within this specific package. Example:1
     */
    pieceCountVerificationBoxCount?: number;

    /**
     * Specifies the Priority Alert Detail.
     */
    priorityAlertDetail?: PackageSpecialServices.PriorityAlertDetail;

    /**
     * This element specifies Signature option details.
     */
    signatureOptionDetail?: PackageSpecialServices.SignatureOptionDetail;

    /**
     * Signature Option Type<br/>ADULT - Adult signature required, at recipient''s
     * address.<br/>DIRECT - Signature required, at recipient''s address. INDIRECT -
     * Signature required, alternate address is accepted.<br/>NO_SIGNATURE_REQUIRED -
     * Signature is not required.<br/>SERVICE_DEFAULT - Signature handled as per
     * current Service Guide. Example:ADULT
     */
    signatureOptionType?: 'SERVICE_DEFAULT' | 'NO_SIGNATURE_REQUIRED' | 'INDIRECT' | 'DIRECT' | 'ADULT';

    /**
     * The list of all special services requested for the package.
     * <a href="/developer-portal/en-us/reference-guide.html#packagespecialservicetypes" target="_blank">Click
     * here to see Package Special Service Types</a> Example:ALCOHOL
     */
    specialServiceTypes?: Array<string>;

    /**
     * Provide details about the batteries or cells that are contained within this
     * specific package.
     */
    standaloneBatteryDetails?: Array<PackageSpecialServices.StandaloneBatteryDetail>;
  }

  export namespace PackageSpecialServices {
    /**
     * These are detcontentails for the package containing alcohol. This is required
     * for alcohol special service. The alcoholRecipientType is required.
     */
    export interface AlcoholDetail {
      /**
       * Specify the Alcohol Recipient Type of the shipment. Example: LICENSEE
       */
      alcoholRecipientType?: 'LICENSEE' | 'CONSUMER';

      /**
       * Specify the type of entity, the shipper for alcohol shipment is registered such
       * as fulfillment house, retailer or a winery.
       */
      shipperAgreementType?: string;
    }

    export interface BatteryDetail {
      /**
       * Indicate the material composition of the battery or cell.
       */
      batteryMaterialType?: 'LITHIUM_METAL' | 'LITHIUM_ION';

      /**
       * Describe the packing arrangement of the battery or cell with respect to other
       * items within the same package.
       */
      batteryPackingType?: 'CONTAINED_IN_EQUIPMENT' | 'PACKED_WITH_EQUIPMENT';

      /**
       * This is a regulation specific classification for the battery or the cell.
       */
      batteryRegulatoryType?: 'IATA_SECTION_II';
    }

    /**
     * Provide dangerous goods shipment details.
     */
    export interface DangerousGoodsDetail {
      /**
       * Specify Dangerous Goods Accessibility Type. <ul><li>Inaccessible &ndash; it does
       * not have to be accessable on the aircraft.</li><li>Accessible &ndash; it must be
       * fully accessible on the aircraft, and is more strictly
       * controlled.</li></ul><i>Note: Accessibility is only required for IATA controlled
       * DG shipments.</i>
       */
      accessibility?: 'ACCESSIBLE' | 'INACCESSIBLE';

      /**
       * A Boolean value that, when True, specifies the mode of shipment transportation
       * should be Cargo Aircraft for Dangerous Goods. Its default value is set as False.
       * Note: An identifier DGD-CAO is added in AWB for cargo aircraft shipments.
       */
      cargoAircraftOnly?: boolean;

      /**
       * Indicate type of DG being reported.
       *
       * - SMALL_QUANTITY_EXCEPTION : It is applicable for only One Piece shipment.
       */
      options?: Array<
        | 'HAZARDOUS_MATERIALS'
        | 'BATTERY'
        | 'ORM_D'
        | 'REPORTABLE_QUANTITIES'
        | 'SMALL_QUANTITY_EXCEPTION'
        | 'LIMITED_QUANTITIES_COMMODITIES'
      >;

      /**
       * It is a HazardousCommodityRegulationType(The regulation under which the DG data
       * has been validated).
       */
      regulation?: 'ADR' | 'DOT' | 'IATA' | 'ORMD';
    }

    /**
     * These are the package weight details. Note: Weight is not required for One rate
     * shipments
     */
    export interface DryIceWeight {
      /**
       * Indicate the weight unit type. The package and commodity weight unit should be
       * the same else the request will result in an error. Example:KG
       */
      units: 'KG' | 'LB';

      /**
       * Weight Value. Example: 68.25
       */
      value: number;
    }

    /**
     * These are COD package details. For use with FedEx Ground services only; COD must
     * be present in shipments special services.
     */
    export interface PackageCodDetail {
      /**
       * This customs value is applicable for all items(or units) under the specified
       * commodity
       */
      codCollectionAmount?: ShipmentsAPI.Money;
    }

    /**
     * Specifies the Priority Alert Detail.
     */
    export interface PriorityAlertDetail {
      /**
       * Specifies Content for the Priority Alert Detail. Example:string
       */
      content?: Array<string>;

      /**
       * The types of all enhancement for the Priority Alert. Example:
       * PRIORITY_ALERT_PLUS
       */
      enhancementTypes?: Array<string>;
    }

    /**
     * This element specifies Signature option details.
     */
    export interface SignatureOptionDetail {
      /**
       * This is release number. Example: 23456
       */
      signatureReleaseNumber?: string;
    }

    export interface StandaloneBatteryDetail {
      /**
       * Describes the material composition of the battery or cell.
       */
      batteryMaterialType?: 'LITHIUM_METAL' | 'LITHIUM_ION';
    }
  }
}

/**
 * The descriptive data of the requested shipment.
 */
export interface RequestedShipment {
  /**
   * These are label specification details includes the image type, printer format,
   * and label stock for label. Can also specify specific details such as doc-tab
   * content, regulatory labels, and masking data on the label.
   */
  labelSpecification: LabelSpecification;

  /**
   * Specify the packaging used. Note: For Express Freight shipments, the packaging
   * will default to YOUR_PACKAGING irrespective of the user provided package type in
   * the request. Example: FEDEX_PAK
   * <a onclick='loadDocReference("packagetypes")'>click here to see Package
   * Types</a>
   */
  packagingType: string;

  /**
   * Indicates if shipment is being dropped off at a FedEx location or being picked
   * up by FedEx or if it's a regularly scheduled pickup for this shipment. Required
   * for FedEx Express and Ground Shipment. Example: USE_SCHEDULED_PICKUP
   */
  pickupType: 'CONTACT_FEDEX_TO_SCHEDULE' | 'DROPOFF_AT_FEDEX_LOCATION' | 'USE_SCHEDULED_PICKUP';

  /**
   * Indicate the descriptive data for the recipient location to which the shipment
   * is to be received.
   */
  recipients: Array<RecipientsParty>;

  /**
   * These are one or more package-attribute descriptions, each of which describes an
   * individual package, a group of identical packages, or (for the
   * total-piece-total-weight case) common characteristics of all packages in the
   * shipment.<ul><li>At least one instance containing the weight for at least one
   * package is required for EXPRESS and GROUND shipments.</li><li>Single piece
   * requests will have one RequestedPackageLineItem.</li><li>Multiple piece requests
   * will have multiple RequestedPackageLineItems.</li><li>Maximum occurrences
   * is 30.</li></ul>
   */
  requestedPackageLineItems: Array<RequestedPackageLineItem>;

  /**
   * Indicate the FedEx service type used for this shipment. Example:
   * STANDARD_OVERNIGHT <a onclick='loadDocReference("servicetypes")'>click here to
   * see Service Types</a>
   */
  serviceType: string;

  /**
   * Indicate the Shipper contact details for this shipment.
   */
  shipper: ShipperParty;

  /**
   * Specifies the payment details specifying the method and means of payment to
   * FedEx for providing shipping services.
   */
  shippingChargesPayment: Payment;

  /**
   * Indicate the shipment total weight in pounds. Example: 10.6 Note: <ul><li>This
   * only applies to International shipments and should be used on the first package
   * of a multiple piece shipment.</li><li>This value contains 1 explicit decimal
   * position.</li><li>For one Label at a time shipments, the unit of totalWeight is
   * considered same as the unit of weight provided in requestedPackageLineItem
   * field.</li></ul>
   */
  totalWeight: number;

  /**
   * If true, only the shipper/payer will have visibility of this shipment. Valid
   * Value : true, false. Default:false Example: true
   */
  blockInsightVisibility?: boolean;

  /**
   * These are customs clearance details. Required for International and
   * intra-country Shipments.
   */
  customsClearanceDetail?: CustomsClearanceDetail;

  /**
   * This is used to provide eMail notification information..
   */
  emailNotificationDetail?: RequestedShipment.EmailNotificationDetail;

  /**
   * Indicates the advance booking number, shipper load /count and packing list
   * details. This details must be provided by the user during freight shipment.
   */
  expressFreightDetail?: RequestedShipment.ExpressFreightDetail;

  /**
   * Indicates the tracking details of the package.Required for child shipments of an
   * oneLabelAtATime shipments
   */
  masterTrackingId?: RequestedShipment.MasterTrackingID;

  /**
   * Specifies the contact and address details of a location.
   */
  origin?: RequestedShipment.Origin;

  /**
   * Indicate the currency the caller requests to have used in all returned monetary
   * values. Should be Used in conjunction with the element RateRequestType. Example:
   * USD <a onclick='loadDocReference("currencycodes")'>click here to see available
   * Currency codes</a> Note: Incorrect currency codes should not be supplied. The
   * system ignores the incorrect currency code.
   */
  preferredCurrency?: string;

  /**
   * Indicate the type of rates to be returned. The account specific rates are
   * returned by default if the account number is specified in the request. Following
   * are values:<ul><li>LIST - Returns FedEx published list rates in addition to
   * account-specific rates (if applicable).</li><li>INCENTIVE - This is one-time
   * discount for incentivising the customer. For more information, contact your
   * FedEx representative.</li><li>ACCOUNT - Returns account specific rates
   * (Default).</li><li>PREFERRED - Returns rates in the preferred currency specified
   * in the element preferredCurrency.</li><li>RETAIL - Returns customer rate from
   * one of retail FedEx service centers.</li></ul>Examples: ["ACCOUNT", "PREFERRED"]
   */
  rateRequestType?: Array<'LIST' | 'NONE' | 'PREFERRED' | 'ACCOUNT' | 'INCENTIVE' | 'RETAIL'>;

  /**
   * A unique identifier for a recipient location. Example:1234567
   */
  recipientLocationNumber?: string;

  /**
   * This is the shipment date. Default value is current date in case the date is not
   * provided or a past date is provided. Format [YYYY-MM-DD]. Example: 2019-10-14
   */
  shipDatestamp?: string;

  /**
   * Specify the special services requested at the shipment level. If the shipper is
   * requesting a special service which requires additional data (such as the COD
   * amount), the shipment special service type must be present in the
   * specialServiceTypes collection, and the supporting detail must be provided in
   * the appropriate sub-object below. RETURN_SHIPMENT is required for creating
   * return shipments.
   */
  shipmentSpecialServices?: RequestedShipment.ShipmentSpecialServices;

  /**
   * Use this object to provide all data required for additional (non-label) shipping
   * documents to be produced.
   */
  shippingDocumentSpecification?: ShippingDocumentSpecification;

  /**
   * Use this object to specify the smartpost shipment details. Required for
   * SMARTPOST service. If SmartPostInfoDetail is indicated, the elements below it
   * are also required.
   */
  smartPostInfoDetail?: SmartPostInfoDetail;

  /**
   * Will indicate the party responsible for purchasing the goods shipped from the
   * shipper to the recipient. The sold to party is not necessarily the recipient or
   * the importer of record. The sold to party is relevant when the purchaser, rather
   * than the recipient determines when certain customs regulations apply.
   */
  soldTo?: RequestedShipment.SoldTo;

  /**
   * This customs value is applicable for all items(or units) under the specified
   * commodity
   */
  totalDeclaredValue?: Money;

  /**
   * For an MPS, this is the total number of packages in the shipment.Applicable for
   * parent shipment for one label at a time shipments. Example: 25
   */
  totalPackageCount?: number;

  /**
   * Indicate the details about how to calculate variable handling charges at the
   * shipment level. They can be based on a percentage of the shipping charges or a
   * fixed amount. If indicated, element rateLevelType is required.
   */
  variableHandlingChargeDetail?: VariableHandlingChargeDetail;
}

export namespace RequestedShipment {
  /**
   * This is used to provide eMail notification information..
   */
  export interface EmailNotificationDetail {
    /**
     * Shipment Notification Aggregation Type. Example:PER_PACKAGE
     */
    aggregationType?: 'PER_PACKAGE' | 'PER_SHIPMENT';

    /**
     * These are email notification recipient details.
     */
    emailNotificationRecipients?: Array<EmailNotificationDetail.EmailNotificationRecipient>;

    /**
     * This is your personal message for the email. Note: The maximum personal message
     * character limit depends on the element notificationFormatType values:<ul><li>If
     * notificationFormatType is TEXT, then only 120 characters printed on the
     * email</li><li>If notificationFormatType is HTML, then 500 characters printed on
     * the email</li></ul> Example: This is concerning the order 123456 of 26 July
     * 2021 - art no 34324-23 Teddy Bear, brown
     */
    personalMessage?: string;
  }

  export namespace EmailNotificationDetail {
    /**
     * These are recipient details for receiving email notification.
     */
    export interface EmailNotificationRecipient {
      /**
       * Specify the recipient email address. Example: xyz@aol.com
       */
      emailAddress: string;

      /**
       * This is the email notification recipient type. Example: SHIPPER
       */
      emailNotificationRecipientType: 'BROKER' | 'OTHER' | 'RECIPIENT' | 'SHIPPER' | 'THIRD_PARTY';

      /**
       * These are the locale details for email. Example: en_US, fr_CA, es_MX,.etc.
       * <a onclick='loadDocReference("locales")'>click here to see Locales</a> Note: If
       * the locale is left blank or an invalid locale is entered, an error message is
       * returned in response.
       */
      locale?: string;

      /**
       * Specify the recipient name. Example: Joe Smith
       */
      name?: string;

      /**
       * These are to specify the notification event types. Example:
       * [ON_PICKUP_DRIVER_ARRIVED, ON_SHIPMENT]
       * <a onclick='loadDocReference("notificationeventtypes")'>Click here for more
       * information on Notification Event Types.</a>
       */
      notificationEventType?: Array<
        | 'ON_DELIVERY'
        | 'ON_EXCEPTION'
        | 'ON_SHIPMENT'
        | 'ON_TENDER'
        | 'ON_ESTIMATED_DELIVERY'
        | 'ON_PICKUP_DRIVER_ARRIVED'
        | 'ON_PICKUP_DRIVER_ASSIGNED'
        | 'ON_PICKUP_DRIVER_DEPARTED'
        | 'ON_PICKUP_DRIVER_EN_ROUTE'
      >;

      /**
       * This is the format for the email notification. Either HTML or plain text can be
       * provided. Example: TEXT
       */
      notificationFormatType?: 'HTML' | 'TEXT';

      /**
       * Indicate the type of notification that will be sent as an email Example: EMAIL
       */
      notificationType?: 'EMAIL';
    }
  }

  /**
   * Indicates the advance booking number, shipper load /count and packing list
   * details. This details must be provided by the user during freight shipment.
   */
  export interface ExpressFreightDetail {
    /**
     * This is an advanced booking number that must be acquired through the appropriate
     * channel in the shipment origin country. Without the booking number pickup and
     * space allocation for the Express Freight shipment are not guaranteed. Minimum
     * length: 5 digits Maximum length: 12 digits
     * Example: XXXX56789812
     */
    bookingConfirmationNumber?: string;

    /**
     * This indicates whether or not the Packing List is enclosed with the shipment. A
     * packing list is a document that includes details about the contents of a
     * package. Example: true
     */
    packingListEnclosed?: boolean;

    /**
     * Indicates the content of a container were loaded and counted by the shipper.
     * Minimum length: 1 digits Maximum length: 5 digits Example: If a skid has 32
     * small boxes on it that are shrinkwrapped, the shippersLoadAndCount should be
     * “32”
     */
    shippersLoadAndCount?: number;
  }

  /**
   * Indicates the tracking details of the package.Required for child shipments of an
   * oneLabelAtATime shipments
   */
  export interface MasterTrackingID {
    /**
     * This is FedEx tracking Identifier associated with the package. Example: 8600
     */
    formId?: string;

    /**
     * Specify the FedEx transportation type. Example: EXPRESS
     */
    trackingIdType?: string;

    /**
     * This is the number associated with the package that is used to track it.For
     * child shipment of an oneLabelAtATime shipments,this should be same as the
     * masterTrackingNumber of the parent shipment. Example: 49XXX0000XXX20032835
     */
    trackingNumber?: string;

    /**
     * Specify the USPS tracking Identifier associated with FedEx SmartPost shipment.
     * Example: 92
     */
    uspsApplicationId?: string;
  }

  /**
   * Specifies the contact and address details of a location.
   */
  export interface Origin {
    /**
     * This is detailed information on physical location. May be used as an actual
     * physical address (place to which one could go), or as a container of address
     * parts which should be handled as a unit (such as a city-state-ZIP combination
     * within the U.S.).
     */
    address?: ShipmentsAPI.Address1;

    /**
     * Indicate the contact details of the shipper.
     */
    contact?: Origin.Contact;
  }

  export namespace Origin {
    /**
     * Indicate the contact details of the shipper.
     */
    export interface Contact {
      /**
       * Specify contact company name. Recommended length is 35. Note: There's no
       * specific validation for the company name. Example: FedEx
       */
      companyName?: string;

      /**
       * Specify contact email address. Maximum length is 80. Example: sample@company.com
       */
      emailAddress?: string;

      /**
       * Specify contact fax number. Note: Recommended length is 15. There's no specific
       * validation for the fax number. Example: 1234567890
       */
      faxNumber?: string;

      /**
       * Specify contact person name. Recommended length is 70. Note: There's no specific
       * validation for the person name. Example: John Taylor
       */
      personName?: string;

      /**
       * Specify contact phone extension. Note: Recommended length is 6. There's no
       * specific validation for the phone extension. Example: 1234
       */
      phoneExtension?: string;

      /**
       * Specify contact phone number. Minimum length is 10 and supports maximum of 15
       * for certain countries using longer phone numbers. Note: Recommended Maximum
       * length is 15 and there's no specific validation will be done for the phone
       * number. Example: 918xxxxx890
       */
      phoneNumber?: string;
    }
  }

  /**
   * Specify the special services requested at the shipment level. If the shipper is
   * requesting a special service which requires additional data (such as the COD
   * amount), the shipment special service type must be present in the
   * specialServiceTypes collection, and the supporting detail must be provided in
   * the appropriate sub-object below. RETURN_SHIPMENT is required for creating
   * return shipments.
   */
  export interface ShipmentSpecialServices {
    /**
     * Indicate the Delivery On Invoice Acceptance detail. Recipient is required for
     * Delivery On Invoice Special service.
     */
    deliveryOnInvoiceAcceptanceDetail?: ShipmentsAPI.DeliveryOnInvoiceAcceptanceDetail;

    /**
     * Use this object to specify all information on how the electronic Trade document
     * references used with the shipment.
     */
    etdDetail?: ShipmentsAPI.EtdDetail;

    /**
     * Use this object to specify required information for a shipment to be held at
     * destination FedEx location. <i>Note: This object HoldAtLocationDetail is
     * Required, when HOLD_AT_LOCATION is chosen in the specialServiceTypes.</i>
     */
    holdAtLocationDetail?: ShipmentsAPI.HoldAtLocationDetail;

    /**
     * These are Special service elements for FedEx Ground Home Delivery shipments. If
     * selected, element homedeliveryPremiumType is mandatory.
     */
    homeDeliveryPremiumDetail?: ShipmentsAPI.HomeDeliveryPremiumDetail;

    /**
     * Use this object to specify International Controlled Export shipment Details.
     * Note: licenseOrPermitExpirationDate and licenseOrPermitNumber are not required
     * when type is WAREHOUSE_WITHDRAWAL.
     */
    internationalControlledExportDetail?: ShipmentsAPI.InternationalControlledExportDetail;

    /**
     * These are International Traffic In Arms Regulations shipment service details.
     */
[...]
